//html background colors
@backgroundLight: #e1e1e1;
@backgroundDark: #1c1c1c;

//font colors
@fl1: #000000;
@fl2: #151515;
@fl3: white;
@fd1:white;
@fd2: #d5d5d5;
@fd3: #000000;

//content container colors
@mainl: #efefef;
@sidel: #cccccc;
@minorl: #9b9b9b;
@tintl: #696969;
@maind: #151515;
@sided: #262626;
@minord: #444444;
@tintd: #797979;

//input colors
@warn:red;
@good:green;

