//html background colors
@background: #e1e1e1;

//font colors
@f1: #000000;
@f2: #151515;
@f3: white;


//content container colors
@main: #efefef;
@mainO : rgba(239, 239, 239, 0.8);
@side: #cccccc;
@sideO: rgba(204, 204, 204, 0.8);
@minor: #9b9b9b;
@minorO: rgba(155, 155, 155, 0.8);
@tint: #696969;
@tintO: rgba(105, 105, 105, 0.8);

//input colors
@warn:red;
@good:green;
@alert: #2e5fc9;

