*{
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

html,body,.App{
  min-height: 100vh;
  width: 100%;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.App{
  padding-top: @navHeightMobile;

  @media screen and (min-width: 600px) {
    padding-top: @navHeight;
  }


}

button{
  .flexInit();
  .flexCenterColumn();
  height: 30px;
  min-width: 30px;
  max-width: 100px;
  .pad(8px 25px);
  border-radius: 30px;
  border: none;
  margin: 0;
  cursor: pointer;
  line-height: 0;
  outline: none;
  .main();
  transition: 0.125s;

  &.warning{
    &:hover{
      background-color: @warn;
      color: white;
    }
  }

  &.submit{
    &:hover{
      background-color: @good;
      color: white;
    }
  }

  &:hover{
    .minor();
  }
}

input{
  outline: none;
  border: none;
  .side();
  height: 35px;
  .flexInit();
  justify-content: flex-start;
  align-items: center;
  .pad(8px);
  width: 100%;border-radius: 35px;
  &:focus{
    border: blue 5px solid;
  }
}

section{
  .flexInit();
  .flexCenterColumn();
  min-height: 100vh;
  @media screen and (min-width: @tablet){
    .flexAroundColumn();
  }

  @media screen and (min-width: @desktop){

  }
}

.form{
  width: 100%;
  .pad(16px);

  *{
    margin: 10px 0;
  }

  label{
    margin-bottom: 10px;
  }



  .error{
    color: @warn;
  }

  @media screen and (min-width: @tablet) {
    .rounded();
    width: @mb;
  }

  @media screen and (min-width: @desktop){
    width: @tablet;
  }

}