.createForm,.post{
  .tags{
    width: 100%;
    .flexInit();
    .flexStartRow();

    .tag{
      height: 45px;
      min-width: 80px;
      border-radius: 45px;
      transition: 0.125s;
      .minor();
      .flexInit();
      .flexCenterColumn();
      margin: 0 0 0 8px;

      .pad(8px);
    }
  }
}

.post{
  .side();
  width: 100%;
  .flexInit();
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
  .pad(8px 16px);
  position: relative;

  .delete{
    position: absolute;
    top: 25px;
    right: 25px;
    color: @warn;
  }

  .edit{
    position: absolute;
    top: 25px;
    right: 75px;
  }

  .info{
    height: 100px;
    width: 100%;
    .flexInit();
    flex-direction: column;

    h1{
      text-decoration: underline;
      font-size: 36px;
    }

    p{
      font-size: 24px;
    }

  }


  @media screen and (min-width: @tablet){
    .rounded();
    width: @mb;
    margin: 8px 0;
  }

  @media screen and (min-width: @desktop){
    width: @tablet;
  }
}

.likes{
  position: absolute;
  bottom: 0;
  right: 0;
  .flexInit();
  .flexAroundRow();
  .pad(8px);
  width: 200px;

  .slot{
    .flexInit();
    .flexAroundRow();
    div{
      .flexInit();
      .flexBetweenRow();
      height: 30px;
      width: 90px;
      .pad(8px 25px);
      border-radius: 30px;
      border: none;
      margin: 0;
      line-height: 0;
      outline: none;
      .main();
      transition: 0.125s;
    }

    button{
      width: 90px;
      .flexInit();
      .flexBetweenRow();
    }
  }
}

.createForm{
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
  .pad(8px);

  @media screen and (min-width: @tablet){
    width: @mb;
    margin: 8px 0;
    border: 5px solid @minor;

    .rounded();
  }

  @media screen and (min-width: @desktop){
    width: @tablet;
  }

  *{
    margin: 8px 0;
  }

  .tags{
    .tag{
      cursor: pointer;
      &:hover{
        background-color: black;
        color: @f3;
      }
    }
  }



}

