.flexInit {
  display: flex;
  flex-wrap: wrap;
}
.flexCenterRow {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexAroundRow {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flexBetweenRow {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexEvenRow {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flexStartRow {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexEndRow {
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
}
.flexCenterColumn {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexStartColumn {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flexEndColumn {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.flexAroundColumn {
  flex-direction: column;
}
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #efefef;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  z-index: 99;
}
nav a {
  color: #000000;
}
nav a {
  cursor: pointer;
}
.menu {
  cursor: pointer;
}
.logo {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 90%;
}
.link-container {
  display: none;
}
.mobile_menu {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 80px;
  background-color: rgba(0, 128, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  z-index: 103;
}
.link-container a {
  margin: 0 10px;
}
.mobile_menu a {
  margin: 10px 0;
  font-size: 36px;
}
.pop img {
  height: 100px;
}
.post img {
  height: 100px;
}
@media screen and (min-width: 600px) {
  nav {
    height: 60px;
  }
  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_menu {
    display: none;
  }
  .menu {
    display: none;
  }
}
.pageNav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
html,
body,
.App {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.App {
  padding-top: 80px;
}
@media screen and (min-width: 600px) {
  .App {
    padding-top: 60px;
  }
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #696969;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  overflow: hidden;
}
.avatar img {
  height: 100%;
}
.searchLoad {
  margin-top: 10px;
}
button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 30px;
  box-sizing: border-box;
  padding: 8px 25px;
  border-radius: 30px;
  border: none;
  margin: 8px 0;
  cursor: pointer;
  line-height: 0;
  outline: none;
  background-color: #efefef;
  color: #000000;
  transition: 0.125s;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}
button a {
  color: #000000;
}
button.warning:hover {
  background-color: red;
  color: white;
}
button.submit:hover {
  background-color: green;
  color: white;
}
button:hover {
  background-color: #9b9b9b;
  color: white;
}
button:hover a {
  color: white;
}
input[type=text],
input[type=password] {
  margin-top: 10px;
  outline: none;
  border: solid black 2px;
  background-color: #696969;
  color: white;
  height: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  border-radius: 35px;
}
input[type=text]:focus,
input[type=password]:focus {
  border: blue 5px solid;
}
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@media screen and (min-width: 750px) {
  section {
    flex-direction: column;
  }
}
.form {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
}
.form * {
  margin: 10px 0;
}
.form label {
  margin-bottom: 10px;
}
.form .error {
  color: red;
}
@media screen and (min-width: 750px) {
  .form {
    border-radius: 8px;
    width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .form {
    width: 750px;
  }
}
.overlay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(204, 204, 204, 0.8);
  z-index: 100;
  box-sizing: border-box;
  padding: 16px;
}
.overlay .close {
  color: red;
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}
.fillOverlay {
  background-color: #efefef;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  overflow-y: scroll;
}
.fillOverlay .post {
  background: none;
}
.inactive {
  opacity: 0.5;
  pointer-events: none;
}
::placeholder {
  color: #cccccc;
}
.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
.searchBar .clear {
  cursor: pointer;
  color: red;
  position: absolute;
  right: 30%;
}
@media screen and (min-width: 750px) {
  .searchBar .clear {
    right: 20%;
  }
}
@media screen and (min-width: 900px) {
  .searchBar .clear {
    right: 18%;
  }
}
.searchBar button {
  margin: 0 0 0 10px;
  width: 15%;
}
.searchBar button span {
  display: none;
}
@media screen and (min-width: 900px) {
  .searchBar button span {
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .searchBar button svg {
    display: none;
  }
}
.searchBar input {
  margin: 0;
}
@media screen and (min-width: 750px) {
  .searchBar {
    width: 600px;
    margin: 8px 0;
  }
}
@media screen and (min-width: 900px) {
  .searchBar {
    width: 750px;
  }
}
.searchWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.createForm {
  position: relative;
}
.createForm .load {
  position: absolute;
  top: 0;
  right: 10px;
  color: #000000;
}
.createForm .tags,
.post .tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 8px 0;
}
.createForm .tags .tag,
.post .tags .tag {
  height: 45px;
  min-width: 80px;
  border-radius: 45px;
  transition: 0.125s;
  background-color: #9b9b9b;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8px 0 0;
  box-sizing: border-box;
  padding: 8px;
}
.createForm .tags .tag a,
.post .tags .tag a {
  color: white;
}
.createForm .tags .tag h3,
.post .tags .tag h3,
.createForm .tags .tag button,
.post .tags .tag button {
  text-align: center;
}
.post {
  background-color: #cccccc;
  color: #151515;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 250px;
  box-sizing: border-box;
  padding: 8px 16px 45px 16px;
  position: relative;
}
.post .load {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000000;
}
.post a {
  text-decoration: underline;
}
.post a,
.post p,
.post h1,
.post h3 {
  margin-bottom: 8px;
}
.post h3 {
  cursor: pointer;
}
.post h3:hover {
  text-decoration: underline;
}
.post a {
  color: #151515;
}
.post.fillOverlay {
  background-color: #efefef;
  border-radius: 8px;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  width: 100%;
  text-align: left;
}
.post .delete {
  position: absolute;
  top: 25px;
  right: 25px;
  color: red;
  cursor: pointer;
}
.post .edit {
  position: absolute;
  top: 25px;
  right: 75px;
  cursor: pointer;
}
.post .info {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.post .info h1 {
  text-decoration: underline;
  font-size: 36px;
}
.post .info p {
  font-size: 24px;
}
@media screen and (min-width: 750px) {
  .post {
    border-radius: 8px;
    width: 600px;
    margin: 8px 0;
  }
}
@media screen and (min-width: 900px) {
  .post {
    width: 750px;
  }
}
.comments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 30px;
  width: 100%;
  margin: 8px 0;
  position: relative;
}
.comments .comment {
  border-radius: 8px;
  background-color: #696969;
  color: white;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  padding: 4px;
  margin-bottom: 8px;
  position: relative;
}
.comments .comment a {
  color: white;
}
.comments .comment .load {
  position: absolute;
  top: 15px;
  right: 40px;
  color: white;
}
.comments .comment h3 {
  pointer-events: none;
}
.comments .comment .delete {
  position: absolute;
  top: 15px;
  right: 15px;
  color: red;
  cursor: pointer;
}
.comments .comment .votes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}
.comments .comment .votes .vote {
  margin: 0 10px;
  cursor: pointer;
  min-width: 30px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 8px;
}
.comments .comment .votes .vote * {
  margin: 0 5px;
}
.vote.log:hover {
  background-color: #9b9b9b;
}
.likes {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  width: 200px;
}
.likes .slot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.likes .slot .chose {
  background-color: gold;
  color: #000000;
}
.likes .slot .loadingBorder {
  animation: pulse 2s infinite;
}
.likes .slot div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 90px;
  box-sizing: border-box;
  padding: 8px 25px;
  border-radius: 30px;
  border: none;
  margin: 0;
  line-height: 0;
  outline: none;
  background-color: #efefef;
  color: #000000;
  transition: 0.125s;
}
.likes .slot div a {
  color: #000000;
}
.likes .slot button {
  width: 90px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 750px) {
  .post .createForm {
    width: 100%;
    margin: 0;
    border: none;
  }
}
@media screen and (min-width: 900px) {
  .post .createForm {
    width: 100%;
    margin: 0;
    border: none;
  }
}
.createForm {
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
  box-sizing: border-box;
  padding: 8px;
}
.createForm.fillOverlay {
  background-color: #efefef;
  border-radius: 8px;
}
.createForm * {
  margin: 8px 0;
}
@media screen and (min-width: 750px) {
  .createForm {
    width: 600px;
    margin: 8px 0;
    border: 5px solid #9b9b9b;
    border-radius: 8px;
  }
}
@media screen and (min-width: 900px) {
  .createForm {
    width: 750px;
  }
}
.createForm .tags .tag {
  cursor: pointer;
}
.createForm .tags .tag:hover {
  background-color: black;
  color: white;
}
.notifications {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  right: 0;
  z-index: 110;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 8px;
}
@media screen and (min-width: 600px) {
  .notifications {
    top: 60px;
    width: 600px;
  }
}
.notifications .notification {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
  width: 50%;
  background-color: #efefef;
  color: white;
  margin-top: 16px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  animation: fadeOut 1.5s ease-in-out;
  animation-delay: 1.5s;
  opacity: 1;
}
.notifications .notification .success {
  color: green;
}
.notifications .notification .fail {
  color: red;
}
.notifications .notification .alert {
  color: #2e5fc9;
}
@media screen and (min-width: 600px) {
  .notifications .notification {
    height: 80px;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
footer {
  min-height: 100px;
  background-color: #efefef;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer a {
  color: #000000;
}
