.flexInit {
  display: flex;
  flex-wrap: wrap;
}
.flexCenterRow {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexAroundRow {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flexBetweenRow {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexEvenRow {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flexStartRow {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexEndRow {
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
}
.flexCenterColumn {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexStartColumn {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flexEndColumn {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.flexAroundColumn {
  flex-direction: column;
}
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #008000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  z-index: 99;
}
.logo {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 90%;
}
.link-container {
  display: none;
}
.mobile_menu {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 80px;
  background-color: rgba(0, 128, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}
.link-container a {
  margin: 0 10px;
}
.mobile_menu a {
  margin: 10px 0;
  font-size: 36px;
}
.pop img {
  height: 100px;
}
.post img {
  height: 100px;
}
@media screen and (min-width: 600px) {
  nav {
    height: 60px;
  }
  .link-container {
    display: flex;
  }
  .mobile_menu {
    display: none;
  }
  .menu {
    display: none;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.App {
  padding-top: 80px;
}
@media screen and (min-width: 600px) {
  .App {
    padding-top: 60px;
  }
}
